@import '_variables';

.header {
  background: $maincolor;
  padding: 1.5em;
}

.header-title {
  font-size: 2em;
}

.header-subtitle {
  font-size: 1.3em;
}

.header-description {
  font-style: italic;
}

.header-cta {
  border: 1px solid $navcolor;
  background: transparent;
  padding: 0.6em;
}
